In [25]:
import pandas as pd
column_headers = [""]
df = pd.read_csv('wisconsin_cheese_factories.csv')
df1 = pd.read_csv('wisconsin_boundary.csv', index_col = 0)
length = len(df1)
width = (len(df1.columns)) #subtract 1 for the the index using index_col

print(length, width)  #length is rows, width is columns
print(df1.columns)

2588 2
Index(['X', 'Y'], dtype='object')

In [56]:
import pandas as pd
import numpy as np
column_headers = [ 'X coordinate', 'Y coordinate',"name" , 'address']
df2 = pd.read_csv('wisconsin_cheese_factories.csv', names = column_headers)
length = len(df2)
width = (len(df2.columns)) 
print(length, width)
    
x = df2['X coordinate']
xSq = x*x
y = df2['Y coordinate']
ySq = y*y
addTo = xSq+ySq
sqrt = np.sqrt(addTo)
df2['Miles Away'] = 69.2*sqrt
df2 = df2.sort_values(['Miles Away'], ascending = False)
df2.describe()
#df2.head()

219 4

       X coordinate  Y coordinate   Miles Away
count    219.000000    219.000000   219.000000
mean     -89.740260     43.928484  6914.373872
std        1.285416      0.859837    89.377696
min      -92.697550     42.523330  6763.171045
25%      -90.477470     43.185605  6844.327301
50%      -89.807690     44.018310  6897.856612
75%      -88.606295     44.630270  6969.784160
max      -87.397610     46.013840  7147.029288